@model TabelaTPL.Models.Voluntarios

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Detalhes do Voluntário</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">Telefone:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dt class="col-sm-3">Gênero:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col-sm-3">Informações:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Informacoes)
            </dd>
            <dt class="col-sm-3">Disponibilidades:</dt>
            <dd class="col-sm-9">
                <ul>
                    @foreach (var disponibilidade in Model.Disponibilidade)
                    {
                        <li>@disponibilidade.Disponibilidades</li>
                    }
                </ul>
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
    </div>
</div>
