@model IEnumerable<TabelaTPL.Models.Disponibilidade>

@{
    ViewData["Title"] = "Index";
}


<h1 class="titulo">
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create")'">Cadastrar Disponibilidade</button>
</h1>


<style>
    .titulo {
        margin-bottom: 50px;
    }
</style>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" name="voluntarioName" class="form-control" placeholder="Pesquisar por nome do voluntário">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        </div>
    </div>
</form>




<table class="table table-striped table-hover">
    <thead>
        <tr>

            <th scope="col">Disponibilidades</th>
            <th scope="col">Voluntários</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibilidades)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voluntarios.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Mais Detalhes</a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
